version: 2.1

orbs:
  php: circleci/php@1.1.0

jobs:
  build:
    docker:
      - image: cimg/php:8.1
    steps:
      - checkout
      - php/install-composer
      - php/install-packages

      - restore_cache:
          keys:
            - v1-analysis-{{ checksum "composer.lock" }}
            - v1-analysis-

      - run: rm -f ./composer-setup.php || true
      - run: composer analyse
      - run: composer test
